alias ohmyzsh="mate ~/.oh-my-zsh"
alias private='set +o history'
alias uprivate='set -o history'
alias wion='networksetup -setairportpower en0 on'
alias wiof='networksetup -setairportpower en0 off'
alias blueon='blueutil -p 1'
alias blueoff='blueutil -p 0'
alias cli='python ~/Dropbox/python/cli.py'
alias plexloop='watch -n 4 python ~/Dropbox/Node-Com-Handler/old_v0.1/plexLoop.py'
alias load='/Volumes/keys/load'
alias sumcheck='python ~/python/sumcheck.py'
alias home='watch python3 ~/python/homeChecker/homeCheck.py'
alias goo='~/./python/api/gooShort.py -c'
alias pirate='~/./python/pirateFetch/fetchPiratebay.py'
alias show='~/./python/seasonedShows/seasonedFolders.py'
alias llpass='lpass show -c --password'
alias subl='open /Applications/Sublime\ Text.app/'
alias playing='http https://api.kevinmidboe.com/api/v1/plex/playing -b'
alias toggle='curl -X POST 10.0.0.67:3069/toggle > /dev/null 2>&1'
alias forecast='~/python/termWeather/term_forecast/./term_weather.py'
alias trash='rmtrash'
alias del="rmtrash"
alias emoji="http https://api.kevinmidboe.com/api/v1/emoji -b"
alias gimme="grep -rnw ''"
alias config='/usr/bin/git --git-dir=$HOME/.dots/ --work-tree=$HOME'
alias l='tree -C -L 1'
alias l2='tree -C -L 2'
