alias ohmyzsh="mate ~/.oh-my-zsh"
alias private='set +o history'
alias uprivate='set -o history'
alias wion='networksetup -setairportpower en0 on'
alias wiof='networksetup -setairportpower en0 off'
alias blueon='blueutil power 1'
alias blueoff='blueutil power 0'
alias cli='python ~/Dropbox/python/cli.py'
alias plexloop='watch -n 4 python ~/Dropbox/Node-Com-Handler/old_v0.1/plexLoop.py'
alias load='/Volumes/keys/load'
alias sumcheck='python ~/python/sumcheck.py'
alias home='watch python3 ~/python/homeChecker/homeCheck.py'
alias lsd='ls -d */'
alias goo='~/./python/api/gooShort.py -c'
alias pirate='~/./python/pirateFetch/fetchPiratebay.py'
alias show='~/./python/seasonedShows/seasonedFolders.py'
alias llpass='lpass show -c --password'
alias subl='open /Applications/Sublime\ Text.app/'
alias playing='curl 10.0.0.45:31459/api/v1/plex/playing | python -m json.tool'
alias toggle='curl -X POST 10.0.0.67:3069/toggle > /dev/null 2>&1'
alias ip='~/.getip.sh'
alias forecast='~/python/termWeather/term_forecast/./term_weather.py'
alias trash='rmtrash'
alias del="rmtrash"
alias emoji="http https://api.kevinmidboe.com/api/v1/emoji -b"
