# remap previx from 'C-b' to 'F10' and should
# map caps-lock to F10
unbind-key C-b
set-option -g prefix F10
bind-key F10 send-prefix

# Remove delay
set -s escape-time 1

# scroll window buffer history, not commands history
set -g mouse on

set -g default-terminal "xterm-256color"
set-option -g default-shell /opt/homebrew/bin/fish

# Navigate panes using vim bindings
setw -g mode-keys vi
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# Set new panes to open in current directory
bind c new-window -c "#{pane_current_path}"
bind '"' split-window -c "#{pane_current_path}"
bind % split-window -h -c "#{pane_current_path}"
